<script>
    function reload(){
        location.reload();
    }
</script>

@using System.Text.RegularExpressions
@*Modal de confirmar Finalizar*@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <br>
                <center><h5>¿Esta seguro que desea Finalizar con este usuario?</h5></center>
                <br>
                <br>
            </div>
            <div class="modal-footer" id="modalFinalizar">
                
            </div>
        </div>
    </div>
</div>

@*tabla de los usuarios*@
<table class="table" id="tablaUser">
    <thead>
        <tr>
            <th scope="col">Tipo de solitud</th>
            <th scope="col">Modulo</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Documento</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            if(item.status == "ATENDIENDO"){
            string clase = "";
            Regex regex= new Regex("([A-Z]).");
            string varia = regex.Match(item.solicitud).ToString();
            switch (varia){
                case "GC":
                    clase = "table-primary";
                    break;

                case "PF":
                clase = "table-success";
                break;

                case "IG":
                    clase = "table-danger";
                    break;

                case "AM":
                clase = "table-warning";
                break;
            }

        <tr class="@clase" id="user_@item.atentionId">
            <th scope="row">@item.solicitud</th>
            <td>@item.modulo</td>
            <td>@item.nombreCompleto</td>
            <td>@item.documento</td>
            <td>
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" onclick="userFinish(@item.atentionId)">Finalizar</button>
            </td>
        </tr>
            }
        }
    </tbody>
</table>

<div id="chat">
    <input type="text" id="usuario" placeholder="Usuario" />
    <input type="text" id="mensaje" placeholder="Mensaje" />
    <button onclick="enviarMensaje()">Enviar</button>
    <button onclick="Limpir()">Limpiar</button>
    <ul id="mensajes"></ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@5.0.8/dist/browser/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .build();

    connection.on("NuevoMensaje", (usuario, mensaje) => {
        $('#mensajes').append(`<li><strong>${usuario}:</strong> ${mensaje}</li>`);
    });

    connection.on("Limpiar", (id) => {
        $('#user_'+id).empty();
    });

    connection.start().then(() => {
        console.log('Conectado al servidor SignalR');
    }).catch(err => console.error(err.toString()));

    function enviarMensaje() {
        const usuario = $('#usuario').val();
        const mensaje = $('#mensaje').val();
        connection.invoke("EnviarMensaje", usuario, mensaje);
        $('#mensaje').val('');
    }
    function Limpiar(id){
        connection.invoke("Limpiar",id);
    }
</script>